.mediaViewInfo {
	--web-view-name: Main;
	--web-view-id: Main;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Main;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

#Main {
    position: absolute;
    width: 1920px;
    height: 1838px;
    background: linear-gradient(-45deg, #FE8199, #FE8199, #FF7500, #FFE500, #00A2CC, #55C59D, #55C59D);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
    overflow: hidden;
    --web-view-name: Main;
    --web-view-id: Main;
    --web-scale-to-fit: true;
    --web-scale-to-fit-type: width;
    --web-scale-on-resize: true;
    --web-center-horizontally: true;
    --web-enable-deep-linking: true;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#logo {
	filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.49));
	position: absolute;
	width: 596px;
	height: 218px;
	left: 662px;
	top: 199px;
	overflow: visible;
	transition: 0.2s;
}

#logo:hover{
	transform: rotate(5deg);
}

#logo:active{
	transform: rotate(-5deg);
}

#Rectangle_1 {
	fill: rgba(0,0,0,0.361);
}
.Rectangle_1 {
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1556px;
	height: 1155px;
	left: 197px;
	top: 615px;
}
#Copyright_STYLESTYLE2TAGUI_S {
	left: 844px;
	top: 1777px;
	position: absolute;
	overflow: visible;
	width: 233px;
	white-space: nowrap;
	text-align: center;
	font-family: Sen;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.3px;
	transition: 0.1s;
}

#Copyright_STYLESTYLE2TAGUI_S:hover{
	transform: rotate(2deg);
}

#Copyright_STYLESTYLE2TAGUI_S:active{
	transform: rotate(-2deg);
}

.GameBtn {
	transition: 0.2s;
}

.GameBtn:hover{
	transform: scale(1.1);
	filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.253));
}

.GameBtn:active{
	transform: scale(1);
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.253));
}

#itchGraphic {
	filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 409px;
	height: 324px;
	left: 756px;
	top: 866px;
	overflow: visible;
}

#Runway_cover {
	filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 409px;
	height: 324px;
	left: 272px;
	top: 866px;
	overflow: visible;
}

#ItchCover {
	filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 408px;
	height: 324px;
	left: 1240px;
	top: 866px;
	overflow: visible;
}

#Sweet_Ice_Cream_TAGH2 {
	left: 790px;
	top: 716px;
	position: absolute;
	overflow: visible;
	width: 342px;
	white-space: nowrap;
	line-height: 71px;
	margin-top: -10px;
	text-align: left;
	font-family: Sen;
	font-style: normal;
	font-weight: normal;
	font-size: 51px;
	color: rgba(255,255,255,1);
}
#Sweet_Ice_Cream_TAGH2_o {
	left: 887px;
	top: 1312px;
	position: absolute;
	overflow: visible;
	width: 147px;
	white-space: nowrap;
	line-height: 71px;
	margin-top: -10px;
	text-align: left;
	font-family: Sen;
	font-style: normal;
	font-weight: normal;
	font-size: 51px;
	color: rgba(255,255,255,1);
}
#Group_1 {
	position: absolute;
	width: 872px;
	height: 151px;
	left: 524px;
	top: 1462px;
	overflow: visible;
}
#Description_TAGUI_L {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 467px;
	height: 151px;
	text-align: center;
	font-family: Sen;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#ItchBtn {
	position: absolute;
	width: 132px;
	height: 132px;
	left: 537px;
	top: 10px;
	overflow: visible;
	transition: 0.2s;
}

#ItchBtn:hover{
	transform: scale(1.1);
	filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.253));
}

#ItchBtn:active{
	transform: scale(1);
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.253));
}

#Ellipse_1 {
	fill: rgba(250,92,92,1);
}
.Ellipse_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 150px;
	left: 0px;
	top: 0px;
}
#itchio-textless-black {
	fill: rgba(255,255,255,1);
}
.itchio-textless-black {
	overflow: visible;
	position: absolute;
	width: 58.339px;
	height: 52.481px;
	left: 36.933px;
	top: 39.508px;
	transform: matrix(1,0,0,1,0,0);
}

#EmailBtn {
	position: absolute;
	width: 132px;
	height: 132px;
	left: 740px;
	top: 10px;
	overflow: visible;
	transition: 0.2s;
}

#EmailBtn:hover{
	transform: scale(1.1);
	filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.253));
}

#EmailBtn:hover .email_black_24dp{
	transform: scale(2);
	filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 0.253));
}

#EmailBtn:active{
	transform: scale(1);
	filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.253));
}

#Ellipse_2 {
	fill: rgba(53,178,233,1);
}
.Ellipse_2 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 150px;
	left: 0px;
	top: 0px;
}
#email_black_24dp {
	position: absolute;
	width: 65.58px;
	height: 65.58px;
	left: 33.21px;
	top: 33.21px;
	overflow: visible;
}
#Path_1 {
	fill: transparent;
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 65.58px;
	height: 65.58px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_2 {
	fill: rgba(255,255,255,1);
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 54.65px;
	height: 43.72px;
	left: 5.465px;
	top: 10.93px;
	transform: matrix(1,0,0,1,0,0);
}